.mainHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.firstHeader {
  display: flex;
}

.secondHeader {
  display: flex;
}

.navbar-nav .link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 12px 10px 10px 10px;
  margin: auto 0px !important;
}

.navbar-nav .link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}

.navbar-nav .link:hover::after {
  width: 100%;
}

.navbar-nav a {
  color: #fff;
  text-decoration: none;
  padding: 11px;
}

a {
  color: white !important;
  text-decoration: none !important;
  padding: 10px !important;
}

.offcanvas-body {
  display: flex;
  justify-content: space-between;
}

.navbar-toggler {
  max-width: 50px;
}

.show_mobile {
  display: none !important;
}

@media (max-width: 992px) {
  a {
    color: black !important;
  }

  .offcanvas-body {
    flex-direction: column;
    justify-content: start;
  }

  .hide_mobile {
    display: none !important;
  }

  .show_mobile {
    display: block !important;
    margin-bottom: 0px !important;
  }
}
