.mainHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.firstHeader {
  display: flex;
}

.secondHeader {
  display: flex;
}

<<<<<<< HEAD
.navbar-nav .link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 12px 10px 10px 10px;
  margin: auto 0px !important;
}

.navbar-nav .link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
}

.navbar-nav .link:hover::after {
  width: 100%;
}

.navbar-nav a{
  color: #fff;
  text-decoration: none;
  padding: 11px;
=======
a {
  color: white !important;
  text-decoration: none !important;
  padding: 10px !important;
>>>>>>> edefb436ec8c51250c51865c42d2ea1d52133963
}

.offcanvas-body {
  display: flex;
  justify-content: space-between;
}

<<<<<<< HEAD
.navbar-toggler {
=======
.navbar-toggler{
>>>>>>> edefb436ec8c51250c51865c42d2ea1d52133963
  max-width: 50px;
}

@media (max-width: 992px) {
  a {
    color: black !important;
  }
  .offcanvas-body {
    flex-direction: column;
    justify-content: start;
  }
}
